@font-face {
  font-family: Montserrat;
  src: '../fonts/montserrat/Montserrat-Regular.ttf';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #ddd;
  font-family: Montserrat;
}

section {
  width: 100%;
  width: 90%;
  margin: 0 auto;
}

header {
width: 100%;
}

.menu {
  width: 100%;
  background-color: #eee;
  font-family: Montserrat;
  position: sticky;
}

.menu ul {
  padding: 15px 0;
  text-align: center;
}

.menu li {
  display: inline;
  padding: 0 20px;
  margin: 0 auto;
}

.menu a {
  text-decoration: none;
  color: #111;
}

.menu a:hover {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

.menu a:active,
.menu a:focus,
.menu a:link {
  color: #111;
  outline: none;
}

.conteudos {
  padding-top: 100px;
  max-width: 100%;
  text-align: justify;
}

.conteudos h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #111;
  background-color: #eee;
  border-radius: 8px;
}

.conteudos h2 {
  font-weight: bold;
  font-size: 1.6em;
  outline: none;
}

.conteudos a {
  color: #eee;
  font-family: Montserrat;
  font-size: 1.3em;
}

.conteudos a:hover,
.conteudos a:active,
.conteudos a:focus,
.conteudos a:link {
  color: #eee;
  outline: none;
}

.conteudos h3 {
  font-weight: normal;
  font-size: 16px;
  color: #E62117;
}

.conteudos p {
  font-size: 1em;
  max-width: 100%;
  padding-bottom: 50px;
  line-height: 1.3em;
  hyphens: auto;
}

.links {
  width: 100%;
}

.banner {
  width: 12vw;
  margin: 0 auto;
}

.banner img {
  width: 12vw;
  text-align: center;
  padding: 50px 0;
}

@media screen and (max-width:480px) {
  html {
    font-size: 65%;
  }

  .menu li {
    padding: 0 15px;
    font-size: 115%;
  }

  .menu li:hover {
    background-color: #111;
    color: #eee;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 85%;
  }

  .menu li {
    padding: 0 15px;
    font-size: 115%;
  }

  .menu li:hover {
    background-color: #111;
    color: #eee;
  }
}
