@font-face {
  font-family: Montserrat;
  src: '../fonts/montserrat/Montserrat-Regular.ttf';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #ddd;
  font-family: Montserrat;
}

section {
  width: 100%;
}

header {
width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  padding: 0 15px;
  outline: none;
}

a {
  color: #eee;
  font-family: Montserrat;
  font-size: 18px;
  margin: 0 25px;
}

a:hover,
a:active,
a:focus,
a:link {
  color: #eee;
  outline: none;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  padding: 0 25px;
  color: #E62117;
}

p {
  font-size: 15px;
  margin: 0 25px;
  padding-bottom: 50px;
}

.conteudos {
  width: 100%;
  text-align: justify;
}

.banner {
  width: 12vw;
  margin: 0 auto;
}

.banner img {
  width: 12vw;
  text-align: center;
  margin: 50px 0;
}
